.login-page {
   background-image: url('../../assets/images/astronomy.jpg');
   height: 100vh;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;

   display: flex;
   align-items: center;
}

form {
   margin: auto;
}

.mat-card{
   padding: 2em;
}

.header-image {
   background-image: url('../../assets/images/arcanum-icon.png');
   background-size: cover;
   display: table;
   margin: auto;
   margin-bottom: 1em;
}

@media (min-width: 768px) {
   // form{
   //    width: 75%;
   // }
}