/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap/dist/css/bootstrap.css";


.form-element {
   width: 100%;
   padding-top: 1em;

   .mat-raised-button {
      width: 100%;
      margin-top: 1em;
      text-transform: uppercase;
   }
}

form{
   .mat-card-header {
      display: block;
      text-align: center;
   
      .mat-card-title {
         font-size: 1.5em;
      }
   }
}