<section class="register-page">
	<div class="container-fluid">
		<form class="col-12 col-xs-8 col-lg-6 col-md-7 col-xs-12" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
			<mat-card>

				<mat-card-header>
					<div mat-card-avatar class="header-image"></div>
					<mat-card-title>Welcome to the Arcanum!</mat-card-title>
				</mat-card-header>

				<mat-card-content>

					<mat-form-field class="form-element">
						<input matInput placeholder="First Name" formControlName="firstName">
						<mat-error *ngIf="!registerForm.get('firstName').valid && registerForm.get('firstName').touched">
							This field is required
						</mat-error>
					</mat-form-field>

					<mat-form-field class="form-element">
						<input matInput placeholder="Last Name" formControlName="lastName">
						<mat-error *ngIf="!registerForm.get('lastName').valid && registerForm.get('lastName').touched">
							This field is required
						</mat-error>
					</mat-form-field>

					<mat-form-field class="form-element">
						<input matInput placeholder="Username" formControlName="username">
						<mat-error *ngIf="!registerForm.get('username').valid && registerForm.get('username').touched">
							This field is required
						</mat-error>
					</mat-form-field>

					<mat-form-field class="form-element">
						<input type="password" matInput placeholder="Password" formControlName="password">

						<mat-error
							*ngIf="!registerForm.get('password').valid && registerForm.get('password').errors.required">
							This field is required
						</mat-error>

						<mat-error
							*ngIf="!registerForm.get('password').valid && registerForm.get('password').errors.minlength">
							Password must be at least 3 characters
						</mat-error>
					</mat-form-field>

					<mat-form-field class="form-element">
						<input type="password" matInput placeholder="Confirm Password" formControlName="confirmPassword">
						<mat-error
							*ngIf="!registerForm.get('confirmPassword').valid && registerForm.get('confirmPassword').errors.required">
							Confirm Password is required
						</mat-error>
						<mat-error
							*ngIf="!registerForm.get('confirmPassword').valid && registerForm.get('confirmPassword').errors.mustMatch">
							Passwords must match
						</mat-error>
					</mat-form-field>


					<div class="form-element">

						<button mat-raised-button color="primary" type="submit" class="button"
							[disabled]="!registerForm.valid">Register</button>

						<a mat-raised-button [routerLink]="['/login']" class="btn btn-link">Cancel</a>
					</div>
				</mat-card-content>
			</mat-card>
		</form>
	</div>
</section>